footer {
    margin: 3% 0 0;
    padding: 5.5%;
    font-family: $font-title;
    text-align: center;
    font-weight: lighter;
    background-image: url(../image/footeronenanny.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;

    & h2 {
        text-align: start;
        font-size: $text-large;
    }
    & p a {
        font-size: $text-large;
        transition: all 0.6s ease-in-out;
        color: map-get($colors, text-color );

        &:hover{
            font-size: $text-xlarge;
            color: map-get($colors, text-color );
        }
    }
}