.formulario {
    margin: 1.25rem;
    padding: 1.875rem;
    font-size: $text-small;
}

form {
    color: black;
    font-size: $text-small;
    background-image: url(../image/formImg.png);
    background-repeat: no-repeat;
    @include flex(column, left, left);
    background-size: 70%;
    background-position: right top;
    margin: 3% 20%;
    padding: 2.5em 2.5rem 1.25rem 2.5rem;
    backdrop-filter: blur(2px); background-color: rgba(255, 255, 255, 1); border-radius: 29px; box-shadow: -35px 35px 68px 0px rgba(255, 221, 226, 0.5), inset 5px -5px 16px 0px rgba(255, 221, 226, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);

        & input.btn.btn-primary{
        --bs-btn-bg:#ffdde2;
        --bs-btn-border-color:map-get($colors, primary ) ;
        --bs-btn-hover-bg: #ff8cc6;
        --bs-btn-hover-border-color:  map-get($colors, secunday );
        --bs-btn-focus-shadow-rgb:(255,182,193);
        --bs-btn-active-bg: map-get($colors, primary ) ;
        --bs-btn-active-border-color:  map-get($colors, primary );
        --bs-btn-disabled-bg: map-get($colors, primary ) ;
        --bs-btn-disabled-border-color: map-get($colors, primary );
        font-size: $text-small;
        font-family:$font-title;
        color: map-get($colors , text-color );
    }
} 