* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 67.5%;
}

body {
    font-family: $font-principal;
    font-size: $text-small;
    color: map-get($colors, text-color );
    font-weight: lighter;

}

a {
    text-decoration: none;
    font-family:$font-title;
    color: map-get($colors, text-color );
    font-size: $text-small;
}