$colors:(
   primary: #ff8cc6,
   Secunday: #ffdde2,
   text-color:#474849 
);
@each $color, $value in $colors{
   #{$color}{
      color: #{$value};
   }
}

 /* Font-Family*/
    $font-title: 'Amatic SC', cursive;
    $font-principal: 'Ibarra Real Nova', serif, light;

 /* Font sizes */
    $text-xlarge: 3em;
    $text-large: 2em;
    $text-midium: 1.7em;
    $text-small: 1.4em;
    $text-xsmall: 1em;

/* Spacing */
    $midium-space: 2rem;
    $small-space: 1em;
    $xsmall-space: 0.5rem;
